<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Bot_Nozzle_Base_01">
  <link
    name="base_nozzle_01">
    <inertial>
      <origin
        xyz="0.166839420170388 0.351666830671068 0.467184609001008"
        rpy="0 0 0" />
      <mass
        value="0.0381706874200227" />
      <inertia
        ixx="6.5559991434075E-06"
        ixy="-7.18765777052477E-08"
        ixz="3.08850818771226E-07"
        iyy="7.78641890118196E-06"
        iyz="-7.03752504145784E-07"
        izz="9.88036445284924E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Bot_Nozzle_Base_01/meshes/base_nozzle_01.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Bot_Nozzle_Base_01/meshes/base_nozzle_01.STL" />
      </geometry>
    </collision>
  </link>
</robot>